html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: #fff;
  background: linear-gradient(15deg, #e1bdc8, #3ca5bc, #197bbf);
  display: flex;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  width: 60px;
  height: 60px;
}

/* ---------- sidebar ---------- */

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

/* ----- profileButton ----- */

.sidebar__Profile {
  position: absolute;
  top: 30px;
  left: 22.5px;
  width: 30px;
  height: 30px;
}

.sidebar__btnProfile {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar__btnProfile::before,
.sidebar__btnProfile::after {
  content: '';
  position: absolute;
  background-color: #fff;
}

.sidebar__btnProfile::before {
  top: 0;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.sidebar__btnProfile::after {
  top: 14px;
  left: 0;
  width: 30px;
  height: 12px;
  border-radius: 30px 30px 0 0;
}

/* ----- chalistButton ----- */

.sidebar__ChatList {
  position: absolute;
  top: 90px;
  left: 22.5px;
  width: 30px;
  height: 30px;
}

.sidebar__btnChatList {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar__btnChatList::before,
.sidebar__btnChatList::after {
  content: '';
  position: absolute;
}

.sidebar__btnChatList::before {
  top: 0;
  left: 0;
  width: 30px;
  height: 20px;
  background-color: #fff;
}

.sidebar__btnChatList::after {
  top: 20px;
  left: 0;
  border-left: solid 8px #fff;
  border-right: none;
  border-top: none;
  border-bottom: solid 8px transparent;
}

/* ----- settingButton ----- */

.sidebar__Setting {
  position: absolute;
  bottom: 30px;
  left: 22.5px;
  height: 30px;
  width: 30px;
}

.sidebar__btnSetting {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.sidebar__btnSetting::before {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  width: 14px;
  height: 26px;
  background-color: #fff;
  transform: rotate(-120deg);
}

.sidebar__btnSetting::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 9px;
  left: 11px;
  border-radius: 100%;
  background-color: #685d63;
}

.sidebar__btnSetting i {
  position: absolute;
  top: 0;
  left: 8px;
  width: 14px;
  height: 26px;
  background-color: #fff;
}

.sidebar__btnSetting i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 26px;
  background-color: #fff;
  transform: rotate(120deg);
}

/* ---------- container ---------- */

.container {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 75px);
  height: 100%;
  display: flex;
}

.container_left {
  position: relative;
  top: 0;
  left: 0;
  width: 35%;
  min-width: 400px;
  max-width: 530px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.container_right {
  position: relative;
  top: 0;
  right: 0;
  width: 65%;
  min-width: calc(100% - 530px);
  height: 100%;
  overflow: hidden;
}

.container_left__header,
.container_right__header {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 50px;
  padding: 0 5%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ---------- header ---------- */

.header__btnGnavi {
  display: none;
}

.header__btnSetting {
  display: none;
}

.header__title {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

.gnavi {
  visibility: collapse;
}

.header__btnBack {
  display: none;
}

/* ---------- chatList ---------- */

.chatList {
  position: relative;
  top: 60px;
  left: 0;
  height: calc(100% - 110px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.chatList__Addchat {
  position: absolute;
  top: -35px;
  right: 5%;
  width: 70px;
  height: 70px;
}

.chatList__btnAddchat {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
}

.chatList__btnAddchat::before {
  content: '';
  position: absolute;
  top: 33px;
  left: 25px;
  width: 20px;
  height: 4px;
  background-color: #000;
}

.chatList__btnAddchat::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 33px;
  width: 4px;
  height: 20px;
  background-color: #000;
}

.chatList__title {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 18px;
  padding: 40px 5% 30px;
  display: flex;
}

.chatList__icon {
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 18px;
}

.chatList__icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  border-top: solid 18px currentColor;
  border-bottom: none;
  color: #fff;
}

.chatList__title p {
  letter-spacing: 3px;
  margin-left: 1em;
  font-weight: 900;
}

.chatList__main {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  min-width: 300px;
  height: calc(100% - 88px);
  margin: 0 5%;
  padding: 0;
  background-color: #fff;
  color: #000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.chatList__item {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: calc(100% - 50px);
  padding: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.chatList__item:hover {
  background-color: #f2f2f2;
}

.chatList__avatar {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url(./img/icon.png);
  background-size: cover;
}

.chatList__badge {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  color: #fff;
  background-color: #4a64ff;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  line-height: 30px;
}

.chatList__body {
  position: relative;
  top: 0;
  right: 0;
  height: 56px;
  width: calc(100% - (60px + 7%));
  padding-top: 4px;
  padding-left: 7%;
}

.chatList__caption {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.chatList__name {
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatList__time {
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  color: #ae6f6a;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatList__text {
  position: relative;
  height: 36px;
  width: 100%;
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ---------- chatArea ---------- */

.chatArea {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: calc(100% - 110px);
  margin: 0 auto;
  color: #000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.chatArea__top {
  width: 100%;
  height: 25px;
  margin: 20px auto;
  padding: 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
}

.chatArea__clockIcon {
  position: relative;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 2px solid currentColor;
  color: #fff;
}

.chatArea__clockIcon::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 6px;
  height: 2px;
  color: #fff;
  background-color: currentColor;
  border: none;
}

.chatArea__clockIcon::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 2px;
  height: 7px;
  color: #fff;
  background-color: currentColor;
  border: none;
}

.chatArea__datetime {
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  padding: 4.5px 10px;
}

.chatArea__item_left {
  width: 100%;
  height: auto;
  margin: 40px 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.chatArea__item_right {
  width: 100%;
  height: auto;
  margin: 40px auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.chatArea__avatar {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}

.chatArea__body {
  position: relative;
  height: auto;
  max-height: 600px;
  min-width: 160px;
  max-width: 530px;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
}

.chatArea__body_left {
  margin-left: 20px;
}

.chatArea__body_left::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: none;
}

.chatArea__body_right {
  margin-right: 20px;
}

.chatArea__body_right::after {
  content: '';
  position: absolute;
  top: 20px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
  border-left: 10px solid #fff;
}

.chatArea__text {
  font-size: 16px;
  padding-bottom: 10px;
}

.chatArea__time_left {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #ae6f6a;
}

.chatArea__time_right {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #ae6f6a;
  text-align: right;
}

.chatArea__body_none {
  padding: 25px;
}

/* ----- chatArea__loading Animation ----- */

.chatArea__loading {
  position: relative;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  color: #fff;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.chatArea__loading::before,
.chatArea__loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  color: #fff;
}

.chatArea__loading::before {
  left: 12px;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.chatArea__loading::after {
  left: 24px;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
}

@keyframes load {
  0% {
    background-color: currentColor;
  }

  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

@-webkit-keyframes load {
  0% {
    background-color: currentColor;
  }

  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

/* ---------- chatForm ---------- */

.chatForm {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.chatForm__wrapper {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.chatForm__camera {
  position: relative;
  top: 17.5px;
  left: 0;
  width: 32px;
  height: 25px;
  margin: 0;
  padding: 0;
}

.chatForm__btnCamera {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 25px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.chatForm__btnCamera::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 32px;
  height: 22px;
  background-color: #fff;
}

.chatForm__btnCamera::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 11px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #5e5c62;
}

.chatForm__btnCamera i {
  position: absolute;
  top: 0;
  left: 10px;
  width: 12px;
  height: 3px;
  color: #fff;
  border: none;
  background-color: currentColor;
}

.chatForm__field {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 95px);
  height: 100%;
  line-height: 60px;
  margin: 0 50px;
  border: none;
}

input.chatForm__text {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 36px);
  height: 34px;
  margin: 13px 3px;
  padding: 0 15px;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  border: solid 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

input.chatForm__text:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.chatForm__submit {
  position: relative;
  top: 17.5px;
  right: 0;
  width: 32px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.chatForm__btnSubmit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.chatForm__btnSubmit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 32px solid #fff;
  border-right: none;
}

.chatForm__btnSubmit::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 10px solid #4c5862;
  border-right: none;
}

/* ---------- tablet(size:1023px~641px) ---------- */

@media screen and (max-width: 1023px) {
  .container_right {
    width: 100%;
    height: 100%;
    max-width: 948px;
    overflow: hidden;
  }

  .container_left {
    display: none;
  }

  /* ----- header ----- */

  .container_left__header,
  .container_right__header {
    display: flex;
    justify-content: space-between;
  }

  .header__back {
    display: block;
    position: relative;
    top: 15px;
    left: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
  }

  .header__btnBack {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .header__btnBack::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: none;
    border-right: solid 20px currentColor;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    color: #fff;
  }
}

/* ---------- mobile(size:640px~360px) ---------- */

@media screen and (max-width: 640px) {
  .sidebar {
    display: none;
  }

  .container {
    width: 100%;
    min-width: 360px;
  }

  .container_right {
    max-width: 639px;
    min-width: 360px;
  }

  /* ----- header ----- */

  .header__btnGnavi {
    display: block;
    position: relative;
    top: 16.5px;
    left: 0;
    width: 30px;
    height: 17px;
    cursor: pointer;
  }

  .header__Setting {
    position: relative;
    top: 12px;
    right: 0;
    height: 26px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
  }

  .header__btnSetting {
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    height: 26px;
    width: 30px;
  }

  .header__btnSetting::before {
    content: '';
    position: absolute;
    right: 8px;
    width: 14px;
    height: 26px;
    background-color: #fff;
  }

  .header__btnSetting button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: rotate(120deg);
  }

  .header__btnSetting::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 11px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #1d3e5c;
  }

  .header__btnSetting i {
    position: absolute;
    right: 8px;
    width: 14px;
    height: 26px;
    background-color: #fff;
    transform: rotate(-120deg);
  }

  .header__btnSetting i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 26px;
    background-color: #fff;
    transform: rotate(-120deg);
  }

  /* ----- gnavi ----- */

  .gnavi {
    position: fixed;
    opacity: 0;
    z-index: 40;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 360px;
    padding: 0;
    margin: 0;
    background: linear-gradient(15deg, #197bbf, #3ca5bc, #e1bdc8);
    transition: all 0.5s ease-in-out;
  }

  #gnavi_checkbox {
    display: none;
  }

  #gnavi_checkbox:checked ~ .gnavi {
    visibility: visible;
    opacity: 1;
  }

  .gnavi__header {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 50px;
    padding: 0 5%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .header__btnClose {
    cursor: pointer;
    position: relative;
    top: 12px;
    left: 0;
    width: 25px;
    height: 25px;
  }

  .header__Setting_offset {
    position: relative;
    top: 12px;
    right: 0;
    height: 26px;
    width: 30px;
  }

  .header__btnSetting_offset {
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    height: 26px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0);
  }

  .header__btnSetting_offset::before {
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    width: 14px;
    height: 26px;
    background-color: #fff;
    transform: rotate(-120deg);
  }

  .header__btnSetting_offset::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 9px;
    right: 11px;
    border-radius: 100%;
    background-color: #d3bdc7;
  }

  .header__btnSetting_offset i {
    position: absolute;
    top: 0;
    right: 8px;
    width: 14px;
    height: 26px;
    background-color: #fff;
  }

  .header__btnSetting_offset i::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 26px;
    background-color: #fff;
    transform: rotate(120deg);
  }

  #gnavi_open {
    width: 30px;
    height: 17px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    cursor: pointer;
  }

  #gnavi_open i {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 5px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    display: block;
  }

  #gnavi_open i::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 30px;
    height: 5px;
    background-color: #fff;
  }

  #gnavi_close i {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }

  #gnavi_close i::before,
  #gnavi_close i::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -2px;
    width: 28px;
    height: 4px;
    color: #fff;
    background-color: currentColor;
  }

  #gnavi_close i::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #gnavi_close i::after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .gnavi__menu {
    height: calc(100% - 150px);
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu__item {
    height: 18%;
    min-height: 72px;
    width: 100%;
    font-size: 48px;
    background: transparent;
    list-style: none;
    vertical-align: none;
  }

  .menu__item a {
    color: #fff;
    text-decoration: none;
  }

  .gnavi__menu a:hover {
    border-bottom: 4px solid #fff;
    padding-bottom: 5px;
  }

  .gnavi__footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
  }

  .footer__btnLogout {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(95% - 100px);
    height: 100%;
    margin-left: 5%;
    padding: 18px 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
  }

  .gnavi__footer h1 {
    font-size: 2em;
    margin: 0;
    color: #fff;
  }

  .gnavi__footer p {
    font-size: 16px;
    margin: 6px 0;
    color: #d09ab3;
  }

  .footer__avater {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url(./img/sicon.png);
    background-size: cover;
  }
}
