html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: #fff;
  background: linear-gradient(#7571ea, #ed8cb9);
  display: flex;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  width: 60px;
  height: 60px;
}

/* ---------- side-menu ---------- */

#sidebar {
  position: relative;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.sidebar__btn-profile {
  position: absolute;
  top: 30px;
  left: 22.5px;
  width: 30px;
  height: 30px;
}

.sidebar__btn-profile button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.sidebar__btn-profile button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #fff;
}

.sidebar__btn-profile button::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  width: 30px;
  height: 12px;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
}

.sidebar__btn-talk {
  position: absolute;
  top: 90px;
  left: 22.5px;
  width: 30px;
  height: 30px;
}

.sidebar__btn-talk button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.sidebar__btn-talk button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 20px;
  background-color: #fff;
}

.sidebar__btn-talk button::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  border-left: solid 8px currentColor;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  color: #fff;
}

.sidebar__btn-setting {
  position: absolute;
  bottom: 30px;
  left: 22.5px;
  width: 30px;
  height: 30px;
}

.sidebar__btn-setting button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.sidebar__btn-setting button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
}

.sidebar__btn-setting button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 13px;
  width: 4px;
  height: 15px;
  background-color: #462a37;
}

/* ---------- container ---------- */

#container {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 75px);
  height: 100%;
  display: flex;
}

#container__left {
  position: relative;
  top: 0;
  left: 0;
  width: 35%;
  min-width: 400px;
  max-width: 630px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

#container__right {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container__left-head,
#container__right-head {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 50px;
  padding: 0 5%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ---------- container-left head ---------- */

.menu-btn {
  display: none;
}

.setting-btn {
  display: none;
}

.setting-btn button {
  display: none;
}

.title {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.inner_nav {
  visibility: collapse;
}

/* ---------- container-left ---------- */

.container__left-bg {
  position: absolute;
  top: 30%;
  bottom: 0;
  width: 100%;
  height: calc(100% - 30%);
  background-color: rgba(0, 0, 0, 0.7);
}

.container__settings {
  position: relative;
  bottom: 0;
  left: 0;
  width: 90%;
  height: calc(90% - 50px);
  margin: 5%;
  background-color: #fff;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.container__settings-profile {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  min-height: 380px;
}

.container__settings-profile-photo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
}

.photo img {
  width: 110px;
  height: auto;
}

.update {
  position: absolute;
  right: 10%;
}

.update-btn {
  color: #7571ea;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 10px;
  border: none;
  border-bottom: solid 2px #7571ea;
  outline: none;
  cursor: pointer;
}

.container__settings-profile-information {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: calc(100% - 150px);
  min-height: 210px;
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__settings-profile-information p {
  color: #ad807d;
  margin: 0;
}

.information-name,
.information-email,
.information-password {
  height: 20%;
  min-height: 70px;
  width: 100%;
}

input.setting[type='text'],
input.setting[type='password'] {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  appearance: none; /* ブラウザ互換 */
  -webkit-appearance: none;
  -moz-appearance: none;
}

input.setting[type='password'] {
  font-size: 22px;
}

.container__settings-notifications {
  position: relative;
  bottom: 0;
  left: 0;
  height: 40%;
  min-height: 150px;
  width: 80%;
  padding: 0 10%;
  background: linear-gradient(#7571ea, #ed8cb9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.push,
.email,
.sound {
  height: 20%;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__settings-notifications p {
  font-size: 18px;
  color: #fff;
  line-height: 100%;
}

.notifications {
  position: relative;
  top: 0;
  right: 0;
  width: 55px;
  height: 30px;
  -webkit-appearance: none;
  background-color: #4c4c4c;
  outline: none;
  border-radius: 20px;
  transform: translate(-30%);
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.notifications:checked {
  background-color: #000;
}

.notifications::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  width: 15px;
  height: 15px;
  background-color: #7571ea;
  border-radius: 15px;
  transition: 0.4s;
}

.notifications:checked::before {
  background-color: #ed8cba;
  left: 33px;
}

/* ---------- container-right ---------- */

.back-btn {
  display: none;
}

.container__talk {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: calc(100% - 110px);
  margin: 0 auto;
  color: #000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.container__talk-top {
  width: 100%;
  height: 25px;
  margin: 20px auto;
  padding: 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
}

.clock-icon {
  position: relative;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 2px solid currentColor;
  color: #fff;
}

.clock-icon::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 6px;
  height: 2px;
  color: #fff;
  background-color: currentColor;
  border: none;
}

.clock-icon::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 2px;
  height: 7px;
  color: #fff;
  background-color: currentColor;
  border: none;
}

.date {
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  padding: 4.5px 10px;
}

.talk__item-left {
  width: 100%;
  height: auto;
  margin: 40px 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.talk__item-right {
  width: 100%;
  height: auto;
  margin: 40px auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.item_icon {
  width: 60px;
  height: auto;
}

.item_talk {
  height: auto;
  max-height: 600px;
  min-width: 180px;
  max-width: 550px;
  padding: 25px;
  background-color: #fff;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.item_talk-text {
  font-size: 16px;
  padding-bottom: 10px;
}

p.item_talk-time-left {
  font-size: 14px;
  font-weight: 900;
  color: #ad807d;
}

p.item_talk-time-right {
  font-size: 14px;
  font-weight: 900;
  color: #ad807d;
  text-align: right;
}

.item_talk-none {
  padding: 25px;
}

/* ----- Loading Animation ----- */

.item_talk-none-load {
  position: relative;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  color: #fff;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.item_talk-none-load::before,
.item_talk-none-load::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  color: #fff;
}

.item_talk-none-load::before {
  left: 12px;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.item_talk-none-load::after {
  left: 24px;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
}

@keyframes load {
  0% {
    background-color: currentColor;
  }

  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

@-webkit-keyframes load {
  0% {
    background-color: currentColor;
  }

  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

.container__right-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
}

.wrapper-foot {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.camera-btn {
  position: relative;
  top: 17.5px;
  left: 0;
  width: 32px;
  height: 25px;
  margin: 0;
  padding: 0;
}

.camera-btn button {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 25px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.camera-btn button::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 32px;
  height: 22px;
  background-color: #fff;
}

.camera-btn button::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 11px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #412b38;
}

.camera-btn button i {
  position: absolute;
  top: 0;
  left: 10px;
  width: 12px;
  height: 3px;
  color: #fff;
  border: none;
  background-color: currentColor;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 95px);
  height: 100%;
  line-height: 60px;
  margin: 0 50px;
  border: none;
}

input.msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
}

.send-btn {
  position: relative;
  top: 17.5px;
  right: 0;
  width: 32px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.send-btn button {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.send-btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 32px solid #fff;
  border-right: none;
}

.send-btn button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 10px solid #412b38;
  border-right: none;
}

@media screen and (max-width: 1023px) {
  #container__left {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1023px;
    overflow: hidden;
    border: none;
  }

  #container__right {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  #sidebar {
    display: none;
  }

  #container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  #container__left {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1023px;
    overflow: hidden;
    border: none;
  }

  #container__left-head {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
  }

  .menu-btn {
    position: relative;
    top: 16.5px;
    width: 30px;
    height: 17px;
    display: block;
    z-index: 1;
  }

  .setting-btn {
    position: relative;
    top: 11px;
    right: 0;
    height: 28px;
    width: 28px;
    display: block;
  }

  .setting-btn button {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 100%;
    background-color: #fff;
    display: block;
    cursor: pointer;
    outline: none;
  }

  .setting-btn button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    width: 4px;
    height: 16px;
    background-color: #242343;
  }

  .inner_nav {
    position: fixed;
    opacity: 0;
    z-index: 40;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0;
    background: linear-gradient(#ed8cb9, #7571ea);
    transition: all 0.5s ease-in-out;
  }

  #nav_checkbox {
    display: none;
  }

  #nav_open {
    width: 30px;
    height: 17px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    cursor: pointer;
  }

  #nav_open span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 5px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    display: block;
  }

  #nav_open span::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 30px;
    height: 5px;
    background-color: #fff;
  }

  #nav_checkbox:checked ~ .inner_nav {
    visibility: visible;
    opacity: 1;
  }

  .inner_nav-head {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 50px;
    padding: 0 5%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .inner_nav-close-btn {
    position: relative;
    width: 0;
    height: 0;
  }

  #nav_close span {
    position: absolute;
    top: 12.5px;
    left: 0;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  #nav_close span::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -2px;
    width: 28px;
    height: 4px;
    color: #fff;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav_close span::after {
    content: '';
    position: absolute;
    color: #fff;
    top: 10px;
    left: -2px;
    width: 28px;
    height: 4px;
    background-color: currentColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .inner_nav-setting-btn {
    position: relative;
    top: 12px;
    right: 0;
    height: 26px;
    width: 30px;
  }

  .inner_nav-setting-btn button {
    position: absolute;
    width: 14px;
    height: 26px;
    right: 8px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    outline: none;
  }

  .inner_nav-setting-btn button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: rotate(120deg);
  }

  .inner_nav-setting-btn button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: rotate(-120deg);
  }

  .inner_nav-setting-btn i {
    position: absolute;
    top: 9px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #ed8cb9;
    z-index: 1;
  }

  .inner_nav ul {
    height: calc(100% - 150px);
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inner_nav li {
    height: 18%;
    min-height: 72px;
    width: 100%;
    font-size: 48px;
    background: transparent;
    list-style: none;
    vertical-align: none;
  }

  .inner_nav ul a {
    color: #fff;
    text-decoration: none;
  }

  .inner_nav ul a:hover {
    border-bottom: 4px solid #fff;
    padding-bottom: 5px;
  }

  .inner_nav-foot {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
  }

  .inner_nav-logout-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(95% - 100px);
    height: 100%;
    margin-left: 5%;
  }

  .inner_nav-logout-btn button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .inner_nav-foot h1 {
    font-size: 2em;
    margin: 0.2em 0;
    color: #fff;
  }

  .inner_nav-foot p {
    font-size: 16px;
    color: #ed8cb9;
  }

  .inner_nav-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
  }

  .inner_nav-icon img {
    width: 100px;
    height: auto;
  }
}
