
html{
  height:100%;
  width:100%;
}

body{
  height:100%;
  width:100%;
  font-family: 'Karla', sans-serif;
  color:#ffffff;
  background: linear-gradient(#7571ea, #ed8cb9);
  display:flex;
  margin:0;
  padding:0;
}

/* navi area */

nav{
  position:relative;
  min-width:75px;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  border-right:1px solid rgba(255,255,255,0.7);
}

.nav__profile{
  position:relative;
  height:30px;
  width:30px;
  margin:30px auto 0;
}

.nav__profile button{
  position: absolute;
  width:12px;
  height:12px;
  padding:0;
  margin-left:9px;
  border-radius: 100%;
  border:none;
  background-color: #fff;
}

.nav__profile button::before{
  content: '';
  position: absolute;
  top:14px;
  left:-8px;
  width:28px;
  height:12px;
  border-radius: 28px 28px 0 0;
  background-color: #fff;
}

.nav__talk{
  position:relative;
  height:30px;
  width:30px;
  margin:0 auto;
  top:30px;
}

.nav__talk button{
  position: absolute;
  width:30px;
  height:20px;
  padding:0;
  border:none;
  background-color: #fff;
}

.nav__talk button::before{
  content: '';
  position: absolute;
  top:11px;
  left:0px;
  border-left: solid 8px currentColor;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  color:#fff;
}

.nav__custom{
  position:absolute;
  height:30px;
  width:30px;
  bottom:30px;
  left:22.5px;
}

.nav__custom button {
	position: absolute;
	width:14px;
  height:26px;
  left:8px;
  padding:0;
  margin:0;
  border:none;
	background-color: #fff;
}
.nav__custom button::before {
	content: '';
  position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotate(120deg);
}
.nav__custom button::after {
	content: '';
  position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotate(-120deg);
}

.nav__custom i{
  position: absolute;
  width:8px;
  height:8px;
  top:9px;
  left:3px;
  border-radius:50%;
  border: none;
  background-color: currentColor;
  z-index:1;
}

.title{
  width:100%;
  font-size:18px;
  text-align:center;
  line-height:50px;
  margin:0;
  padding:0;
}

/* container area */

.container{
  width:100%;
  height:100%;
  display:flex;
}

.container__left{
  width:35%;
  min-width:400px;
  max-width:630px;
  height:100%;
  border-right:1px solid rgba(255,255,255,0.7);
  overflow: hidden;
  position:relative;
}

.container__right{
  width:100%;
  height:100%;
  overflow: hidden;
  position:relative;
}

.head__left,
.head__right{
  top:0;
  width:90%;
  height:50px;
  padding:0 5%;
  background-color: rgba(0,0,0,0.7);
}

/* left-container area */

.container__left-bg{
  width:100%;
  height:100%;
  margin-top:15%;
  background-color: rgba(0,0,0,0.7);
  position:absolute;
}

.new-chat{
  width:0;
  height:0;
}
.new-chat button{
  background-color: #fff;
  position: absolute;
  top: -40px;
  right: 5%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border:none;
}

.new-chat button::before{
  color: #000;
  content: '';
  position: absolute;
  width: 25px;
  height: 5px;
  top:33px;
  left:23px;
  border:none;
  background-color: currentColor;
}

.new-chat button::after{
  color: #000;
  content: '';
  position: absolute;
  width: 25px;
  height:5px;
  top:33px;
  left:23px;
  border:none;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.container__left .con__top{
  width:auto;
  height:5%;
  padding:50px 25px 0 25px;
}

.con__top-icon{
width:24px;
height:16px;
}

.con__top .con__top-ttl{
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-left:1em;
}

.con__list{
  min-width:300px;
  max-width:580px;
  height:70%;
  margin:0 5%;
  background-color: #ffffff;
  color:#000000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list__item{
  max-height:80px;
  min-height:40px;
  padding:25px;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
  border-bottom:1px solid #e5e5e5 ;
}

.list__item:hover{
  background-color: #f2f2f2;
}

.list__icon{
  display:inline;
  position:relative;
}

img{
  width:60px;
  height:60px;
}

.alert{
  width:30px;
  height:30px;
  border-radius:100%;
  background-color: #4a64ff;
  color:#fff;
  left:-10px;
  top:-10px;
  position: absolute;
  border: none;
  font-size:14px;
  text-align: center;
  line-height:30px;
  font-weight: 900;
}

.list__inf{
  max-height:200px;
  width:100%;
  max-width:530px;
  padding-top:1%;
  padding-left:7%;
  display:inline-block;
}

.list__inf-head{
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:space-between;
  -moz-justify-content:space-between;
  justify-content:space-between;
  margin:0;
  padding:0;
  max-width:425px;
}

p.name{
  font-size: 16px;
  font-weight: 900;
  display: inline-block;
}

p.time{
  font-size: 14px;
  font-weight: 900;
  color:#a93932;
  text-align: right;
  display: inline-block;
}

.list__inf-cont{
  font-size: 16px;
  display: inline-block;
  padding-top:4%;
}

/* right contents */

.menu-back{
  display:none;
}

.con__top-talk{
  width:100%;
  height:25px;
  margin:20px auto 0;
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
}

.con__clock-icon{
color:#fff;
position: relative;
width:17px;
height:17px;
top:5px;
border-radius:100%;
border:2px solid currentColor;
display: inline-block;
}

.con__clock-icon:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 6px;
  height: 2px;
  color:#fff;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  border:none;
}
.con__clock-icon:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 2px;
  height: 7px;
  color:#fff;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  border:none;
}

.talk__top-ttl{
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  display: inline-block;
  padding:4.5px 0;
}

.con__list-talk{
  width:90%;
  height:calc(100% - 110px);
  margin:0 auto;
  color:#000000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list__item-l{
  margin:40px auto;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
}

.list__item-r{
  margin:40px auto;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
  flex-direction: row-reverse;
}

.con__list-talk .list__icon{
  display:inline;
  position:relative;
}

.list__talk{
  background-color: #ffffff;
  max-height:600px;
  min-width:180px;
  max-width:550px;
  padding:25px;
  display:inline-block;
  -webkit-justify-content:flex-end;
  -moz-justify-content:flex-end;
  justify-content:flex-end;
}

.list__talk-cont
{
  font-size: 16px;
  padding-bottom:10px;
}

p.time-l{
  font-size: 14px;
  font-weight: 900;
  color:#ad807d;
}

p.time-r{
  font-size: 14px;
  font-weight: 900;
  color:#ad807d;
  text-align: right;
}

.list__inf-none{
  padding:25px;
  display:inline-block;
}

/* --Loading Animation--*/

.list__inf-load {
  position: relative;
  height:6px;
  width:6px;
  border-radius: 100%;
  color:#fff;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.list__inf-load::before,
.list__inf-load::after {
    content: '';
    position: absolute;
    top: 0;
    height:6px;
    width:6px;
    border-radius: 100%;
    color:#fff;
    display: inline-block;
  }

.list__inf-load::before {
    left: 12px;
    -webkit-animation: load 1s infinite ease;
    animation: load 1s infinite ease;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

.list__inf-load::after {
    left: 24px;
    -webkit-animation: load 1s infinite ease;
    animation: load 1s infinite ease;
  }

@keyframes load {
  0% {
    background-color: currentColor;
  }
  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

@-webkit-keyframes load {
  0% {
    background-color: currentColor;
  }
  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

/* --Loading Animation--*/

footer{
  width:100%;
  height:60px;
  bottom:0;
  position:absolute;
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  font-size: 16px;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
}

.msg__con{
  position:relative;
  width:90%;
  margin:0 auto;
}

.camera-icon{
  position:absolute;
  display:inline-block;
  top:35%;
  left:0;
  margin:0;
  padding:0;
}

.camera-icon button{
  position: absolute;
  top:0;
  left:0;
  width:32px;
  height:22px;
  border:none;
  background-color:#fff;
}

.camera-icon button::before{
  content: '';
  position: absolute;
  height:8px;
  width:8px;
  border-radius: 100%;
  border: none;
  top:7px;
  left:12px;
  background-color: #412b38;
}

.camera-icon button::after{
  color: #fff;
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  top:-3px;
  left:10px;
  border:none;
  background-color: currentColor;
}

.message{
  width:calc(100% - 95px);
  height:100%;
  line-height: 60px;
  margin:0 45px 0 50px;
  border:none;
  position:absolute;
  display: inline-block;
}

.msg{
  width: 100%;
  height:100%;
  vertical-align:middle;
  color:#fff;
  font-size: 16px;
  background-color:transparent;
  border:none;
  position: absolute;
  outline: none;
}

.send{
  top:30%;
  right:0;
  position:absolute;
  margin:0;
  padding:0;
  background-color: rgba(0,0,0,0);
}

.send button{
  position:relative;
  width:0;
  height:0;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
  border-left: 30px solid #fff;
  border-right:none;
  background-color: rgba(0,0,0,0);
  padding:0;
  margin:0;
}

.send button::before{
  content: '';
  position: absolute;
  top:-11px;
  left:-30px;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
  border-left: 10px solid #412b38;
  border-right:none;
  padding:0;
  margin:0;
}

img{
  width:60px;
  height:60px;
}

@media screen and (max-width:1023px){

/* nav area */

nav{
  position:relative;
  min-width:75px;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  border-right:1px solid rgba(255,255,255,0.7);
}

.nav__profile{
  position:relative;
  height:30px;
  width:30px;
  margin:30px auto 0;
}

.nav__profile button{
  position: absolute;
  width:12px;
  height:12px;
  padding:0;
  margin-left:9px;
  border-radius: 100%;
  border:none;
  background-color: #fff;
}

.nav__profile button::before{
  content: '';
  position: absolute;
  top:14px;
  left:-8px;
  width:28px;
  height:12px;
  border-radius: 28px 28px 0 0;
  background-color: #fff;
}

.nav__talk{
  position:relative;
  height:30px;
  width:30px;
  margin:0 auto;
  top:30px;
}

.nav__talk button{
  position: absolute;
  width:30px;
  height:20px;
  padding:0;
  border:none;
  background-color: #fff;
}

.nav__talk button::before{
  content: '';
  position: absolute;
  top:11px;
  left:0px;
  border-left: solid 8px currentColor;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  color:#fff;
}

.nav__custom{
  position:absolute;
  height:30px;
  width:30px;
  bottom:30px;
  left:22.5px;
}

.nav__custom button {
	position: absolute;
	width:14px;
  height:26px;
  left:8px;
  padding:0;
  margin:0;
  border:none;
	background-color: #fff;
}
.nav__custom button::before {
	content: '';
  position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotate(120deg);
}
.nav__custom button::after {
	content: '';
  position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: rotate(-120deg);
}

.nav__custom i{
  position: absolute;
  width:8px;
  height:8px;
  top:9px;
  left:3px;
  border-radius:50%;
  border: none;
  background-color: currentColor;
  z-index:1;
}

.title{
  width:100%;
  font-size:18px;
  text-align:center;
  line-height:50px;
  margin:0;
  padding:0;
}

/* container area */

.container{
  width:100%;
  height:100%;
  display:flex;
}

.container__left{
  display:none;
}

.container__right{
  width:100%;
  height:100%;
  overflow: hidden;
  position:relative;
}

.head__left,
.head__right{
  top:0;
  width:90%;
  height:50px;
  padding:0 5%;
  background-color: rgba(0,0,0,0.7);
}

/* right contents */

.menu-back {
  width:0;
  height:0;
  display: block;
}

.menu-back button{
  position: relative;
  width:15px;
  height:14px;
  top:18px;
  left:0;
  background-color: rgba(0,0,0,0);
  border:none;
  margin:0;
  padding:0;
}

.menu-back button::before{
  position:absolute;
	content: '';
  top:0;
  left:0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 15px solid #fff;
  border-left: none;
}

.con__top-talk{
  width:100%;
  height:25px;
  margin:20px auto 0;
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
}

.con__clock-icon{
color:#fff;
position: relative;
width:17px;
height:17px;
top:5px;
border-radius:100%;
border:2px solid currentColor;
display: inline-block;
}

.con__clock-icon:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 6px;
  height: 2px;
  color:#fff;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  border:none;
}
.con__clock-icon:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 2px;
  height: 7px;
  color:#fff;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  border:none;
}

.talk__top-ttl{
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  display: inline-block;
  padding:4.5px 0;
}

.con__list-talk{
  width:90%;
  height:calc(100% - 110px);
  margin:0 auto;
  color:#000000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list__item-l{
  margin:40px auto;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
}

.list__item-r{
  margin:40px auto;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
  flex-direction: row-reverse;
}

.con__list-talk .list__icon{
  display:inline;
  position:relative;
}

.list__talk{
  background-color: #ffffff;
  max-height:600px;
  min-width:180px;
  max-width:550px;
  padding:25px;
  display:inline-block;
  -webkit-justify-content:flex-end;
  -moz-justify-content:flex-end;
  justify-content:flex-end;
}

.list__talk-cont
{
  font-size: 16px;
  padding-bottom:10px;
}

p.time-l{
  font-size: 14px;
  font-weight: 900;
  color:#ad807d;
}

p.time-r{
  font-size: 14px;
  font-weight: 900;
  color:#ad807d;
  text-align: right;
}

.list__inf-none{
  padding:25px;
  display:inline-block;
}

/* --Loading Animation--*/

.list__inf-load {
  position: relative;
  height:6px;
  width:6px;
  border-radius: 100%;
  color:#fff;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.list__inf-load::before,
.list__inf-load::after {
    content: '';
    position: absolute;
    top: 0;
    height:6px;
    width:6px;
    border-radius: 100%;
    color:#fff;
    display: inline-block;
  }

.list__inf-load::before {
    left: 12px;
    -webkit-animation: load 1s infinite ease;
    animation: load 1s infinite ease;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

.list__inf-load::after {
    left: 24px;
    -webkit-animation: load 1s infinite ease;
    animation: load 1s infinite ease;
  }

@keyframes load {
  0% {
    background-color: currentColor;
  }
  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

@-webkit-keyframes load {
  0% {
    background-color: currentColor;
  }
  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

/* --Loading Animation--*/

footer{
  width:100%;
  height:60px;
  bottom:0;
  position:absolute;
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  font-size: 16px;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
}

.msg__con{
  position:relative;
  width:90%;
  margin:0 auto;
}

.camera-icon{
  position:absolute;
  display:inline-block;
  top:35%;
  left:0;
  margin:0;
  padding:0;
}

.camera-icon button{
  position: absolute;
  top:0;
  left:0;
  width:32px;
  height:22px;
  border:none;
  background-color:#fff;
}

.camera-icon button::before{
  content: '';
  position: absolute;
  height:8px;
  width:8px;
  border-radius: 100%;
  border: none;
  top:7px;
  left:12px;
  background-color: #412b38;
}

.camera-icon button::after{
  color: #fff;
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  top:-3px;
  left:10px;
  border:none;
  background-color: currentColor;
}

.message{
  width:calc(100% - 95px);
  height:100%;
  line-height: 60px;
  margin:0 45px 0 50px;
  border:none;
  position:absolute;
  display: inline-block;
}

.msg{
  width: 100%;
  height:100%;
  vertical-align:middle;
  color:#fff;
  font-size: 16px;
  background-color:transparent;
  border:none;
  position: absolute;
  outline: none;
}

.send{
  top:30%;
  right:0;
  position:absolute;
  margin:0;
  padding:0;
  background-color: rgba(0,0,0,0);
}

.send button{
  position:relative;
  width:0;
  height:0;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
  border-left: 30px solid #fff;
  border-right:none;
  background-color: rgba(0,0,0,0);
  padding:0;
  margin:0;
}

.send button::before{
  content: '';
  position: absolute;
  top:-11px;
  left:-30px;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
  border-left: 10px solid #412b38;
  border-right:none;
  padding:0;
  margin:0;
}

img{
  width:60px;
  height:60px;
}

}

@media screen and (max-width:639px){

  /* nav area */

nav{
  display:none;
}

.title{
  width:100%;
  font-size:18px;
  text-align:center;
  line-height:50px;
  margin:0;
  padding:0;
}

/* container area */

.container{
  width:100%;
  height:100%;
  display:flex;
}

.con__left{
  display:none;
}

.container__right{
  width:100%;
  height:100%;
  overflow: hidden;
  position:relative;
}

.head__left,
.head__right{
  top:0;
  width:90%;
  height:50px;
  padding:0 5%;
  background-color: rgba(0,0,0,0.7);
}

/* right contents */

.menu-back {
  width:0;
  height:0;
  display: block;
}

.menu-back button{
  position: relative;
  width:15px;
  height:14px;
  top:18px;
  left:0;
  background-color: rgba(0,0,0,0);
  border:none;
  margin:0;
  padding:0;
}

.menu-back button::before{
  position:absolute;
	content: '';
  top:0;
  left:0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 15px solid #fff;
  border-left: none;
}

.con__top-talk{
  width:100%;
  height:25px;
  margin:20px auto 0;
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
}

.con__clock-icon{
color:#fff;
position: relative;
width:17px;
height:17px;
top:5px;
border-radius:100%;
border:2px solid currentColor;
display: inline-block;
}

.con__clock-icon:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 6px;
  height: 2px;
  color:#fff;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  border:none;
}
.con__clock-icon:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 2px;
  height: 7px;
  color:#fff;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  border:none;
}

.talk__top-ttl{
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 900;
  display: inline-block;
  padding:4.5px 0;
}

.con__list-talk{
  width:90%;
  height:calc(100% - 110px);
  margin:0 auto;
  color:#000000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list__item-l{
  margin:40px auto;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
}

.list__item-r{
  margin:40px auto;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
  flex-direction: row-reverse;
}

.con__list-talk .list__icon{
  display:inline;
  position:relative;
}

.list__talk{
  background-color: #ffffff;
  max-height:600px;
  min-width:180px;
  max-width:550px;
  padding:25px;
  display:inline-block;
  -webkit-justify-content:flex-end;
  -moz-justify-content:flex-end;
  justify-content:flex-end;
}

.list__talk-cont
{
  font-size: 16px;
  padding-bottom:10px;
}

p.time-l{
  font-size: 14px;
  font-weight: 900;
  color:#ad807d;
}

p.time-r{
  font-size: 14px;
  font-weight: 900;
  color:#ad807d;
  text-align: right;
}

.list__inf-none{
  padding:25px;
  display:inline-block;
}

/* --Loading Animation--*/

.list__inf-load {
  position: relative;
  height:6px;
  width:6px;
  border-radius: 100%;
  color:#fff;
  -webkit-animation: load 1s infinite ease;
  animation: load 1s infinite ease;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.list__inf-load::before,
.list__inf-load::after {
    content: '';
    position: absolute;
    top: 0;
    height:6px;
    width:6px;
    border-radius: 100%;
    color:#fff;
    display: inline-block;
  }

.list__inf-load::before {
    left: 12px;
    -webkit-animation: load 1s infinite ease;
    animation: load 1s infinite ease;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

.list__inf-load::after {
    left: 24px;
    -webkit-animation: load 1s infinite ease;
    animation: load 1s infinite ease;
  }

@keyframes load {
  0% {
    background-color: currentColor;
  }
  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

@-webkit-keyframes load {
  0% {
    background-color: currentColor;
  }
  50%,
  100% {
    background-color: lighten(currentColor, 45%);
  }
}

/* --Loading Animation--*/

footer{
  width:100%;
  height:60px;
  bottom:0;
  position:absolute;
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  font-size: 16px;
  display:flex;
  -webkit-flex-pack:distribute;
  -moz-flex-pack:distribute;
  -ms-flex-pack:distribute;
  -webkit-justify-content:flex-start;
  -moz-justify-content:flex-start;
  justify-content:flex-start;
}

.msg__con{
  position:relative;
  width:90%;
  margin:0 auto;
}

.camera-icon{
  position:absolute;
  display:inline-block;
  top:35%;
  left:0;
  margin:0;
  padding:0;
}

.camera-icon button{
  position: absolute;
  top:0;
  left:0;
  width:32px;
  height:22px;
  border:none;
  background-color:#fff;
}

.camera-icon button::before{
  content: '';
  position: absolute;
  height:8px;
  width:8px;
  border-radius: 100%;
  border: none;
  top:7px;
  left:12px;
  background-color: #412b38;
}

.camera-icon button::after{
  color: #fff;
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  top:-3px;
  left:10px;
  border:none;
  background-color: currentColor;
}

.message{
  width:calc(100% - 95px);
  height:100%;
  line-height: 60px;
  margin:0 45px 0 50px;
  border:none;
  position:absolute;
  display: inline-block;
}

.msg{
  width: 100%;
  height:100%;
  vertical-align:middle;
  color:#fff;
  font-size: 16px;
  background-color:transparent;
  border:none;
  position: absolute;
  outline: none;
}

.send{
  top:30%;
  right:0;
  position:absolute;
  margin:0;
  padding:0;
  background-color: rgba(0,0,0,0);
}

.send button{
  position:relative;
  width:0;
  height:0;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
  border-left: 30px solid #fff;
  border-right:none;
  background-color: rgba(0,0,0,0);
  padding:0;
  margin:0;
}

.send button::before{
  content: '';
  position: absolute;
  top:-11px;
  left:-30px;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
  border-left: 10px solid #412b38;
  border-right:none;
  padding:0;
  margin:0;
}

img{
  width:50px;
  height:50px;
}

}

/* reset css */

dl, dt, dd, ol, ul, li{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style: none;
}

p{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}