/* ---------- header ---------- */

.header__cancel {
  position: relative;
  top: 12.5px;
  left: 0;
  width: 25px;
  height: 25px;
}

.header__btnCancel {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.header__btnCancel::before {
  content: '';
  position: absolute;
  top: 12.5px;
  left: 2px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transform: rotate(45deg);
}

.header__btnCancel::after {
  content: '';
  position: absolute;
  top: 12.5px;
  left: 2px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transform: rotate(135deg);
}

/* ---------- compose ---------- */

.composeArea {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 100px;
  margin: 25px 5%;
}

.composeArea p {
  line-height: 20px;
  letter-spacing: 1.5px;
}

.composeArea__items {
  width: 100%;
  height: 80px;
  display: flex;
}

.composeArea__items li {
  padding-right: 20px;
}

.composeArea__items li img {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.backgroundShadow {
  position: absolute;
  top: 257px;
  bottom: 0;
  width: 100%;
  height: calc(100% - 257px);
  background-color: rgba(0, 0, 0, 0.5);
}

.composeList {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: calc(100% - 200px);
  margin: 0 5%;
  background-color: #fff;
  color: #000;
  overflow: scroll;
}

.composeList__item {
  position: relative;
  max-height: 80px;
  min-height: 40px;
  padding: 25px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  cursor: pointer;
}

.composeList__item input {
  display: none;
}

.composeList__item input:checked ~ .label_checked {
  position: absolute;
  top: 48px;
  right: 10%;
  width: 14px;
  height: 8px;
  border-bottom: solid 3px currentColor;
  border-left: solid 3px currentColor;
  transform: rotate(-45deg);
  opacity: 1;
}

.composeList__item:hover {
  background-color: #f2f2f2;
}

.composeList__avatar {
  height: 60px;
  width: 60px;
}

.composeList__caption {
  height: 56px;
  width: calc(100% - (60px + 7%));
  max-width: 530px;
  padding-top: 4px;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.composeList__name {
  font-weight: 900;
}

.composeList__time {
  font-size: 1.4rem;
  font-weight: 900;
  color: #ae6f6a;
  line-height: 25px;
}

.composeList__submit {
  position: absolute;
  top: 165px;
  right: 10%;
  width: 70px;
  height: 70px;
}

.composeList__btnSubmit {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: #000;
  -webkit-filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
}

.composeList__btnSubmit::before {
  content: '';
  position: absolute;
  top: 33.5px;
  left: 25px;
  width: 20px;
  height: 3px;
  background-color: #fff;
}

.composeList__btnSubmit::after {
  content: '';
  position: absolute;
  top: 29.4px;
  left: 33px;
  width: 10px;
  height: 10px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
}
